discovery/
gateway/
rules-service/
messaging-broker/
foracesso-module/
postgres-data/
tracking-config-server/
system-config-repo/
redis/

*.log
*.tmp
*.bak
.env

# envs
.env
*.env
**/.env

# envs
.env
*.env
**/.env
